@import "tailwindcss";

@theme {
  --color-background: #F4F7FB;
  --color-surface: #FFFFFF;
  --color-text-primary: #1E293B;
  --color-text-secondary: #475569;
  --color-primary: #4F46E5;
  --color-secondary: #22D3EE;
  --color-border: #E2E8F0;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
}
